@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.box {
    width: 1440px;
    margin: 0 auto;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #191826;
    padding: 0 165px;
    background-color: #F2F2F2;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header {
    height: 118px;
    max-width: 1110px;
    padding: 62px 0 22px 0;



    &__ball {
        width: 384px;
        height: 384px;
        position: absolute;
        left: -146px;
        top: -112px;
        background: rgba(255, 124, 64, 0.5);
        mix-blend-mode: normal;
        border-radius: 50%;
        filter: blur(135.914px);

    }

    &__logo {
        background-image: url(../images/shared/logo-equalizer.png);
        background-size: cover;
        width: 146px;
        height: 32px;
    }

    .header__logo-active {
        display: block;
        width: 146px;
        height: 32px;
    }
}

.main {

    .description {
        position: relative;
        margin-bottom: 108px;

        &__inner-content {
            width: 850px;
            padding: 105px 0;
        }
    }

    .content {

        &__title {
            font-weight: 700;
            font-size: 88px;
            line-height: 88px;
            letter-spacing: -1px;
            margin-bottom: 40px;
        }

        &__text {
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
        }
    }

    .ball {

        &__blue {
            position: absolute;
            width: 384px;
            height: 384px;
            border-radius: 50%;
            background-color: rgba(64, 255, 245, 0.5);
            filter: blur(135.914px);
            left: 735px;
            top: 0;
        }

        &__orange {
            position: absolute;
            width: 384px;
            height: 384px;
            border-radius: 50%;
            left: 735px;
            top: 250px;
            background: rgba(255, 145, 1, 0.4);
            filter: blur(135.914px);
        }

        &__imgball {
            width: 312px;
            height: 468px;
            background-image: url(../images/desktop/bg-img1.png);
            background-repeat: no-repeat;
            position: absolute;
            top: -118px;
            left: 960px;
        }

    }

    .order {
        height: 813px;
        padding-top: 128px;
        position: relative;
        margin-bottom: 202px;

        &__block-content {
            position: absolute;
            left: 570px;
            top: 220px;
            width: 446px;
            height: 625px;
            background: #FA7453;
            border-radius: 12px;
            color: #FCFAF9;
            padding: 58px 59px 48px 54px;
        }
    }


    .inner {
        position: relative;

        &__bgimg {
            background-image: url(../images/desktop/bg-img-black.png);
            width: 1110px;
            height: 600px;

        }

        &__phone {
            background-image: url(../images/desktop/phone.png);
            background-repeat: no-repeat;
            background-size: cover;
            width: 320px;
            height: 642px;
            position: absolute;
            top: -85px;
            left: 102px;
        }

        &__orange {
            position: absolute;
            width: 384px;
            height: 384px;
            border-radius: 50%;
            left: 900px;
            top: 510px;
            background: rgba(255, 145, 1, 0.4);
            filter: blur(135.914px);

        }
    }

    .content {

        &__subtitle {
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            margin-bottom: 22px;
        }

        &__expose {
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            margin-bottom: 39px;
        }

        &__price {
            width: 165px;
            height: 52px;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 46px;


            span {
                font-weight: 700;
                font-size: 65px;
                line-height: 52px;
                margin-right: 16px;
            }
        }

        &__app {
            color: #FCFAF9;
            background-color: #191826;
            padding: 15px 95px;
            margin-bottom: 16px;

        }

        &__app:hover {
            background: #66E2DC;
        }


        &__andr {
            color: #191826;
            background: #FCFAF9;
            padding: 15px 77px;
        }

        &__andr:hover {
            background: #FFB964;
        }

    }

    .btn {
        display: block;
        width: 333px;
        height: 61px;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
        border-radius: 12px;
        transition: all .5s;
    }

    .btn img {
        margin-right: 8px;
        }


}

.footer {

    .info {
        display: inline-block;
        height: 170px;

        &__contact {
            display: flex;
        }
    }

    .contact__logo-active {
        display: block;
        max-width: 146px;
        height: 32px;
    }

    .contact {
        &__logo {
            background-image: url(../images/shared/logo-equalizer.png);
            background-size: cover;
            width: 146px;
            height: 32px;
        }

        &__info {
            width: 366px;
            height: 79px;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: #191826;
            margin-left: 135px;
            margin-right: 360px;

            span {
                font-weight: 700;
            }
        }

        &__social {
            width: 100px;
            height: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 30px 0 30px 0;
        }
    }


    .social__face:hover,
    .social__insta:hover,
    .social__twit:hover {
        cursor: pointer;
        transform: scale(1.3);
        transition: .3s;
    }
}

@media (max-width:800px) {


    .box {
        width: 768px;
        padding: 0 33px;
        background-color: #F2F2F2;
    }

    .container {
        max-width: 702px;
    }

    .header {
        height: 101px;
        max-width: 702px;
        padding: 62px 0 7px 0;

        &__ball {
            left: -254px;
            background: rgba(255, 124, 64, 0.35);
        }
    }

    .main {

        .description {
            position: relative;
            margin-bottom: 111px;

            &__inner-content {
                width: 514px;
                padding: 84px 0;
            }
        }

        .content {

            &__title {
                font-weight: 700;
                font-size: 64px;
                line-height: 64px;
                letter-spacing: -0.727273px;
                margin-bottom: 28px;
            }

            &__text {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .ball {

            &__blue {
                background-color: rgba(64, 255, 245, 0.5);
                left: 332px;
                top: -41px;
            }

            &__orange {
                left: 332px;
                top: 206px;
                background: rgba(255, 145, 1, 0.5);
            }

            &__imgball {
                width: 267px;
                height: 400px;
                background-image: url(../images/tablet/bg-img1-t.png);
                top: -115px;
                left: 504px;
            }

        }

        .order {
            width: 696px;
            padding-top: 128px;
            position: relative;
            margin-bottom: 202px;

            &__block-content {
                left: 239px;
                top: 280px;
                width: 399px;
                height: 546px;
                padding: 48px;
            }
        }

        .inner {
            position: relative;

            &__bgimg {
                background-image: url(../images/tablet/bg-img-blackpng.png);
                width: 696px;
            }

            &__phone {
                background-image: url(../images/tablet/phone.png);
                width: 270px;
                height: 556px;
                top: -10px;
                left: 64px;
            }

            &__orange {
                width: 384px;
                height: 384px;
                border-radius: 50%;
                left: 900px;
                top: 510px;
                background: rgba(255, 145, 1, 0.4);
                filter: blur(135.914px);

            }
        }

        .content {

            &__subtitle {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 2px;
            }

            &__expose {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 36px;
            }

            &__price {
                margin-bottom: 32px;
            }

            &__app {
                padding: 15px 70px;
            }

            &__andr {
                padding: 15px 50px;
            }
        }

        .btn {
            width: 296px;
        }

        .btn img {
            margin-right: 8px;
        }
    }

    .footer {

        .info {
            height: 228px;

            &__contact {
                display: block;
                position: relative;
            }
        }

        .contact {
            &__info {
                margin-left: 0px;
                margin-right: 230px;
                margin-top: 32px;
            }

            &__social {
                position: absolute;
                left: 596px;
                top: 62px;
            }
        }
    }
}

@media (max-width:400px) {
    .box {
        max-width: 375px;
        height: 1945px;
        padding: 0px;
        overflow: hidden;
        position: relative;
    }

    .container {
        max-width: 375px;
        margin: 0;
    }

    .header {
        height: 72px;
        padding: 40px 0 0 24px;

        &__ball {
            width: 0;
            height: 0;
        }
    }

    .main {

        .description {
            position: relative;

            &__inner-content {
                max-width: 327px;
                max-height: 320px;
                padding: 64px 24px 68px;
            }
        }

        .content {

            &__title {
                font-size: 40px;
                line-height: 48px;
                letter-spacing: -0.454545px;
                margin-bottom: 20px;
            }

            &__text {
                font-size: 16px;
                line-height: 26px;
            }
        }

        .ball {

            &__blue {
                width: 281px;
                height: 281px;
                left: 134px;
                top: -176px;
            }

            &__orange {
                width: 281px;
                height: 281px;
                left: 134px;
                top: 23px;

            }

            &__imgball {
                width: none;
                height: none;
            }
        }

        .order {
            height: 813px;
            padding-top: 128px;
            position: relative;
            margin-bottom: 300px;

            &__block-content {
                position: absolute;
                left: 0px;
                top: 500px;
                width: 375px;
                height: 546px;
                padding: 48px 37px;
            }
        }


        .inner {
            position: relative;

            &__bgimg {
                background-image: url(../images/mobile/bg-black.png);
                width: 375px;
                height: 600px;
            }

            &__phone {
                background-image: url(../images/mobile/phone.png);
                width: 209px;
                height: 430px;
                top: 25px;
                left: 81px;
            }
        }

        .content {

            &__subtitle {
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 12px;
            }

            &__expose {
                font-size: 18px;
                line-height: 28px;
                margin-bottom: 36px;
            }

            &__price {
                width: 165px;
                height: 52px;
                margin-bottom: 46px;

                span {
                    font-size: 65px;
                    line-height: 52px;
                }
            }

            &__app {
                padding: 15px 76px;
                margin-bottom: 16px;

            }

            &__andr {
                padding: 15px 55px;
            }
        }

        .btn {
            display: block;
            width: 296px;
            height: 61px;
        }
    }

    .footer {

        .info {
            height: 255px;
            padding-left: 24px;

            &__contact {
                display: block;
                position: relative;
            }
        }

        .contact {
            &__info {
                width: 296px;
                height: 100px;
                margin-top: 32px;
                margin-bottom: 64px;
            }

            &__social {
                position: absolute;
                left: 0px;
                top: 200px;
            }
        }
    }
}